.Dropdown-element{
    min-width: fit-content;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    padding: 1vh;
}

.Dropdown-box{
    display: flex;
    flex-direction: row;
    text-align: left;
    font-size: small;
    border-width: 0.2vh;
    border-color: #5f9ea0;
    background-color: inherit;
    border-radius: 0.7vh;
    padding-top: 0.5vh;
    padding-bottom: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    color: #5f9ea0;
    width: inherit;
}

.Dropdown-box:hover{
    border-color: #7fffd4;
    color: aquamarine;
}

.Dropdown-inner{
    color: #f0f8ff;
    font-size: medium;
    background-color: inherit;
    border: transparent;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.Arrow-box{
    height: 1.5vh;
    padding-left: 2vh;
    padding-bottom: 0.3vh;
    float: right;
}

.Dropdown-svg {
    height: 1.5vh;
    padding-left: 2vh;
    padding-bottom: 0.3vh;
  }

.Dropdown-svg-flip {
    height: 1.5vh;
    padding-right: 2vh;
    padding-top: 0.3vh;
    transform: rotate(180deg);
}
.Options-wrapper{
    position: relative;
}

.Options-listwrapper{
    min-width: 100%;
    box-shadow: 0.5vh 0.5vh 1vh #00000060;
    border-radius: 0.7vh;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 0.5vh;
    left: 0vh;
    overflow: scroll;
}

.Options-header{
    background-color: aliceblue;
    padding: 2vh;
    text-align: left;
    max-width: 100%;
    max-height: 2vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: grid;
    gap: 0vh 0.5vh;
}

.Options-search{
    height: 2.5vh;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

.Options-searchinput{
    width: 90%;
    height: 100%;
    justify-self: flex-end;
    align-self: center;
    padding: 0.3vh 0.7vh;
}

.Options-searchinput:focus{
   outline-color: #92cab8;
}

.Options-searchsvg {
    height: 90%;
    padding-right: 1vh;
    justify-self: flex-start;
    align-self: center;
  }

.Options-clear{
    font-size: 1.5vh;
    text-transform: uppercase;
    max-height: 2vh;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
}

.Options-clear:hover{
    color: #029f6b;
    cursor: pointer;
}

.Options-clearnosearch{
    font-size: 1.5vh;
    text-transform: uppercase;
    max-height: 2vh;
    grid-column-start: 0;
    grid-column-end: 1;
}

.Options-clearnosearch:hover{
    color: rgb(2, 159, 107);
    cursor: pointer;
}

.Options-listitemwrapper{
    list-style: none;
    background-color: aliceblue;
    padding: 2vh;
    text-align: left;
    min-width: 100%;
    max-height: 5vh;
}

.Options-selectedlistitem{
    list-style: none;
    background-color: #a6fce0;
    padding: 2vh;
    text-align: left;
    min-width: 100%;
    max-height: 5vh;
}

.Options-listitemwrapper:hover{
    background-color: #d0ffef;
    cursor: pointer;
}

.Options-selectedlistitem:hover{
    background-color: #62f2c2;
    cursor: pointer;
}

